body.light-mode {
    background-color: #f4f4f9;
    color: #333;
}

body.dark-mode {
    background-color: #121212;
    color: #f4f4f9;
}

.card {
    background-color: white;
}

body.dark-mode .card {
    background-color: #333;
    color: #f4f4f9;
}

.container {
    margin-top: 100px; /* Ensure the container is pushed down from the top */
}
